.page {
    height: 100vh;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 5vw;
    text-shadow: 2px 2px #d9d9d9;
    font-size: 5vh;
}

.topicon {
    text-shadow: 1px 1px #9a9898;
}

.x {
    margin-right: .5vw;
    margin-left: .5vw;
    text-shadow: 1px 1px #9a9898;
}

.logos {
    display: flex;
    justify-content: center;
    margin-right: 10vw;
}

.top {
    background-image: url(./assets/view.svg);
    background-position: 10% 60;
    height: 35vh;
}

.chunk {
    display: flex;
    
    
}

.code_des {
    margin-top: -5vh;
    font-size: 18px;
    padding-left: 1vw;
    margin-right: 1vw;
}

.firstcol {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
}

.fellow{
    transform: rotate(270deg);
    border-radius: 99%;
}

.subtitle {
    text-align: center;
    margin-right: 5vw;
    margin-top: -3vw;
}

.secondcol {
    display: flex;
    flex-direction: column;
    font-size: 2vw;
    margin-top: 2vh;
}

.hubba_box {
    line-height: 2;
    margin-top: 5vh;
    margin-left: 2vw;
}

.hubtitle {
    margin-top: -3vh;
}

.code_box {
    line-height: 2;
    margin-top: 3vh;
    margin-left: 2vw;
}


.thirdcol {
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    width: 30vw;
    padding-left: 2vw;
    height: 65vh;
}

.mentor {
    margin-top: 10vh;
    border-radius: 90%;
    margin-left: -5vw;
}
.fsub {
    margin-top: -10vh;
}

.hubba_des {
    font-size: 18px;
    padding-left: 1vw;
    margin-top: -5vh;
    margin-right: 1vw;
}