
.App {
  background-image: url(./assets/pose.svg);
  background-size: cover;
  height: 100vh;
  color: white;
}

/*top of page buttons*/
.buttons {
  background-color: rgb(207, 97, 113);
  border: none;
  height: 10vh;
  width: 15vh;
}

.buttonBody {
  display: flex;
  justify-content: right;
  height: 10vh;
  margin-left: 15vw;
}

.bandt {
  display: flex;
}

/*main portion*/
.centerchunk {
  display: flex;
  width: 80vw;
}

.nameDes {
  display: flex;
  margin-left: 10%;
  text-align: left;
  flex-direction: column;
  width: 70%;
}

.Title {
  font-size: 10vh;
  width: 50vw;
}

.beginning {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 90vw;
  margin-top: -2vh;
}

.Description {
margin-top: -30px;
margin-left: 1vw;
}

.body {
  display: block;
  background-color: green;
}

.bodyText {
  text-align: left;
  letter-spacing: .4vw;
  border-left: 10px solid white;
  padding-left: 1vw;
  font-size: 4vh;
  opacity: 1;
  background-color: transparent;
}

.profile {
  margin-left: 10vw;
  width: 20vw;
}



/*bottom of page*/

.bottomline {
  display: flex;
  height: 10vh;
  width: 70%;

}

.iconsbox {
  width: 100%;
  flex: 1;

}

.phonebox {
  flex:1;
  padding-bottom: 10%;
  margin-left: -8vw;


}

.number {
    font-size: 3vw;
    color: black;
}


/*irrelavant or idk where it is*/

/*reference code*/

/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/